<div class = "row">
	<div class = "small-12 column">
		<div class = "panel">

			<div class = "row">
				<div class = "small-12 column">
					<div class = "panel"> Item </div>
				</div>
			</div>

			<div class = "row">
				<div class = "small-12 column">
					<div class = "panel"> Location </div>
				</div>
			</div>

			<div class = "row">
				<div class = "small-12 medium-6 large-4 columns">
					<div class = "panel">
						MAP <br><img src="http://placehold.it/500x500&text=Image"><br>
					</div>
				</div>
					<div class = "small-12 medium-6 large-8 columns">
						<div class = "row">
							<div class = "small-12 large-6  columns">
								<div class = "panel"> ETA things</div>
							</div>
							<div class = "small-12 large-6  columns">
								<div class = "panel"> Recommendations </div>
							</div>
						</div>
						<div class = "row">
							<div class = "small-12 large-6  columns">
								<div class = "panel"> Urgency</div>
							</div>
							<div class = "small-12 large-6  columns">
								<div class = "panel"> Cost/calories/etc</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>