// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-canvas {
	// height: 500px;
	// width: 500px;
  height: 100%;
  width: 100%;
}

.lat, .lon, .router_points {
  display: none;
}

.email_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.9;
  padding-top: 50px;

  display: none;
  overflow: scroll;

  z-index: 100;

  p {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 15px auto;
    padding: 20px;
    color: white;
  }
}

.titlebar_container {
  padding: 0 0.9375rem;
}

.titlebar {
  font-weight: bold;
  #background-color: #428BCA;
  background-color: #CCCCCC;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #8C1515;
}

.info {
  margin-bottom: 0 !important;
  font-size: 15px;
}

header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 7px 10px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-left: -85px;
  color: #FFF;
}

header h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 15px;
  padding: 30px 10px;
  margin-top: 30px;
  margin-bottom: -20px;
  color: #FFF;
  text-align: right;
}

header h3 {
  padding: 7px 10px;
  margin-top: 12px;
  margin-bottom: -5px;
  color: #8C1515
}

header {
  #background-color: #428BCA;
  background-color: #8C1515;
  margin-top: 0px;
  margin-bottom: -20px;
}

table {
  width: 100%;
  th, td {
    padding: 10px 20px !important;
  }
}

footer div {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  #background-color: #428BCA;
  background-color: #8C1515;
  margin-top: -20px;
  margin-bottom: -20px;
  color: #FFF;
}

.panel {
  background-color: #f6f6f6 !important;
}

.percentage_bar_container {
  padding: 0 !important;
  position: relative;
}

.percentage_bar {
  background-color: rgb(255, 204, 75);
  width: 0;
  height: 38px;
  padding: 10px 0px;
  color: white;
  overflow: hidden;

  &.claimed {
    background-color: #c60f13;
    width: 100%;
  }
}

.predator-td {
}

.percentage_text_container {
  position: absolute;
  padding: 10px 20px;

  &.claimed {
    color: white;
  }
}

a {
  color: #8C1515
}

.email-time, .walking-time {
  display: none;
}

.fitbit, .fitbit a {
  margin: 0;
  padding: 0;
  color: white;
  text-align: right;
}

.fitbit {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 10px;
  margin-top: 7px;
  font-size: 10px;
  text-align: right;
}

h2 {
  margin-top: 0 !important;
}

.weight {
  display: none;
}

.success_banner {
  font-size: 15px;
  margin-bottom: 15px;
  color: green;
}

.no_events {
  p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 30px;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
}